body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    overflow: auto;
}

button {
    font: italic 18pt normal;
    padding: 12px;
    border: none;
    color: white;
    background: rgba(0,0,0,0);
}

a {
    color: #f7f775;
    text-decoration: none;
}

a:hover {
    color:white;
}

#homepage-content {
    height: 100%;
    width: 100%;
    background-image: url('mainpagebackground.jpg');
}

#homepage-content h1 {
    margin: 0;
    font-size: 48pt;
    text-align: left;
    color: white;
}

#homepage-nav {
    position: absolute;
    top: 40%;
    left: 10%;
    font: normal 18pt bold;
}

#homepage-nav button {
    font: italic 24pt normal;
    padding-left: 20px;
    padding-right: 20px;
    background: #f7f775;
    border: 4px #f7f775;
    border-radius: 6px;
    margin: 8px;
}

#homepage-nav button:hover {
    background: white;
    border: 4px white;
    color: #f7f775;
}

#main-page-content {
    height: 100%;
    width: 100%;
}

#main-page-nav {
    width: 100%;
    position: absolute;
    top: 65%;
    background-image: linear-gradient(to right, rgba(195, 206, 224, 0), rgba(195, 206, 224, .7), rgba(195, 206, 224, .0));
}

#topbar-content {
    width: 100%;
    height: 30%;
    position: relative;
    background-image: url("topbarbackground.jpg");
}

#page-content {
    width: 100%;
    height: 70%;
}

.error {
    color: red;
}

.info {
    color: blue;
}

.hidden {
    display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
