body, html {
    width: 100%;
    color: white;
    height: auto;
    margin: auto;
    text-align: center;
    background-color: rgb(200, 200, 200, 0.2);
    font: normal 18pt 'Comfortaa', cursive;
}

:root {
    --color: #000000;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 14px;
    font-size: 48px;
    font-weight: bold;
}

input[type=submit], input[type = text], input[type = email], input[type = password], input[type = number] {
    margin: 10px;
    font: inherit;
    padding: 12px;
    text-align: center;
}

button {
    border: none;
    font: inherit;
    color: inherit;
    transition-duration: 1s;
    padding: 20px 15px 20px 15px;
    background-color: transparent;
}

button:hover {
    transition-duration: 1s;
    padding: 20px 30px 20px 30px;
}

#page-content {
    position: relative;
}

#top-nav {
    background-image: url('images/background.jpg');
}

#products-content img {
    padding: 18px;
}

.wrapper {
    left: 20%;
    width: 60%;
    color: black;
    margin: 20px;
    padding: 10px;
    background: white;
    position: absolute;
    border-radius: 4px;
}

#products-content {
    width: 75%;
    left: 12.5%;
}

.wrapper img {
    float: left;
    padding: 18px;
}

.wrapper p {
    font-size: 40px;
    padding: 76px 14px 76px 14px;
}

#cart-content img {
    clear: left;
    display: block;
}

#products-content img:hover {
    transition-duration: 0.3s;
    box-shadow: inset 0 0 3pt 2pt black;
}

.error {
    color: red;
}

.info {
    color: blue;
}

.hidden {
    display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 4px solid black;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px black inset;
  transition: background-color 5000s ease-in-out 0s;
}
